body {
    background-image: url(../img/coloradosymphony.png);
}

h2 {
    color: black;
    text-decoration: underline; 
}

footer {
    color: white;
    transition: color 0.3s ease;
    text-decoration: none;
    margin: 0 5px;
}

footer:hover{
    color: black;
}