body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}

#volumeControl {
  width: 300px;
}

#volumeSlider,
#changeVolumeButton {
  margin: 10px 0;
}

#changeVolumeButton {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
}

#changeVolumeButton:hover {
  background-color: #0056b3;
}
