body {
    font-family:'Courier New', monospace;
    background-image: url(../img/sunsetcloud.jpeg);
    background-size: fill;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color:rgb(42, 72, 99);
}

.activity {
    font-size: 24px;
    color: rgb(42, 72, 99);
    margin-bottom: 20px;
}

.btn {
    background-color: lightblue;
    color: whitesmoke;
    padding: 12px 24px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:rgb(61, 118, 168);
}


